# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cnzzvbimwyfhucuolmrk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuenp2Ymltd3lmaHVjdW9sbXJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODk3MDQ4NSwiZXhwIjoyMTA0NTQ2NDg1fQ.8TNy1wd0V-_5yFQS4JI97_heGi5X5VK7u1HA3x1IaSc

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
